@tailwind base;
@tailwind components;
@tailwind utilities;

.mantine-Carousel-control {
    background: transparent !important;
    border: transparent !important;
    box-shadow: none !important;
    outline: none !important;
    cursor: auto !important;
}

.mantine-Slider-bar {
    background: #A696D2 !important;
}

.mantine-Slider-thumb {
    background: white !important;
    border-width: 1px !important;
    border-color: #dedede !important;
}

.mantine-Slider-track::before {
    background: #dedede !important;
}

.mantine-Slider-label {
    display: none !important;
}

.buy-product-input::-webkit-outer-spin-button,
.buy-product-input::-webkit-inner-spin-button {
    -webkit-user-select: all !important;
}

img {
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
}

.product-description img,
.product-description iframe {
    display: none;
}

p:has(> strong) {
    padding-top: 12px;
}


.mantine-Modal-content {
    overflow: visible !important;
}

:root {
    --mantine-color-violet-6: #A696D2 !important;
    --mantine-color-blue-6: #A696D2 !important;
}

#phoneNumber {
    -moz-appearance: textfield;
}

#phoneNumber::-webkit-outer-spin-button,
#phoneNumber::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#phoneNumber::-ms-clear,
#phoneNumber::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}

.mantine-Accordion-content {
    padding: 0 !important;
}

.mantine-Accordion-item {
    border: none !important;
}

.mantine-Accordion-chevron {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px !important;
    height: 20px !important;
    margin-left: 24px !important;
    margin-right: 12px !important;
}

.mantine-Accordion-label {
    font-weight: 500 !important;
}

.mantine-Tooltip-tooltip {
    font-size: 14px !important;
}

.mantine-Accordion-chevron {
    justify-content: center !important;
}