.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for Firefox */
.hide-scrollbar {
    scrollbar-width: none; /* For Firefox */
}

/* General styles */
.hide-scrollbar {
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
}



*::-webkit-scrollbar,
*::-webkit-scrollbar-thumb {
    width: 10px;
    border-radius: 16px;
}

*::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
}